.facebook-btn {
  background-color: rgb(65, 103, 178);
  cursor: pointer;
  padding: 10px;
  width: 300px;
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.facebook-btn:hover {
  opacity: 0.9;
}

.facebook-btn-inner {
  margin-left: 20px;
  margin-top: 3px;
  font-size: 16px;
}